<div class="vetname-title">

<h2>Vet Name</h2>
</div>
<div class="add-vet">

<form action="/vets" method="POST">
  <fieldset>
    <label for="name"></label>
    <input type="text" name="name">
  </fieldset>
  <input type="submit" value="SAVE">
</form>
</div>
