
<div class="welcome-text">
  <p>Hello and welcome to Rex for vets.</p>
</div>
<br>

<div class="second-text">
  <p>Rex is a veterinary booking system designed to help organise your practise.</p>
</div>
<br>

<div class="last-text">
  <p>To begin simply click on Book In New Pet above or via the pet below and begin taking the customers details.</p>
</div>



<div class="main-pet"><a href="/pets/new">
  <img src="https://img.icons8.com/cotton/64/000000/dog-cone--v4.png"></a>

</div>
