<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Rex's</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/vets">Practising Vets</a></li>
        <li><a href="/pets">Booked In Pets</a></li>
        <li><a href="/pets/new">Book In New Pet</a></li>
      </ul>
    </nav>

    <h1>Rex's</h1>
    <%= yield %>

  </body>
</html>
