<div class="practising-vetstitle">
<h2>Practising Vets</h2>
</div>
<br>

<div class="practising-vets">

<ul>
  <% for vet in @vets %>
  <br>
   <li><%= vet.name %></li>
   <br>
  <% end %>
</ul>
</div>
