
<div class="practising-vetstitle">
<h2>Practising Vets</h2>
</div>
<br>

<div class="practising-vets">

<ul>
  <% for vet in @vets %>
  <div class="main-vet">
  <img src="https://img.icons8.com/office/30/000000/doctors-bag.png">
  </div>
  <br>
  <div class="vet-names">


   <li><%= vet.name %></li>
   <br>
   </div>
   <form method='get' action="/vets/<%=vet.id%>/editvet">
    <label for="edit-entry">Edit Vet:</label>
    <input id="edit" type="submit" name="edit" value="Edit Vet">
  </form>

   <form class="" action="index.html" method="post">
    <br>

  </form>
   <form method='post' action="/vets/<%=vet.id%>/delete">
    <label for="delete-entry">Delete Vet:</label>
    <input id="delete" type="submit" name="delete" value="Delete Vet">
  </form>

   <form class="" action="index.html" method="post">

  </form>
   <br>
  <% end %>
</ul>
</div>
